//  ------------------------------------------------------------
//  Breadcrumbs <nav aria-label="Breadcrumbs">
//  ------------------------------------------------------------

@if $enable-site-breadcrumbs {

[aria-label="Breadcrumbs"] ul {
  --pl: 0;
  list-style: none;
}

[aria-label="Breadcrumbs"] li {
  display: inline-block;
}

[aria-label="Breadcrumbs"] li:after {
  content: " /";
  margin-inline-start: .1rem;
}

[aria-label="Breadcrumbs"] li:last-child:after {
  content: initial;
}

[aria-label="Breadcrumbs"] [aria-current="page"] {
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
}

} // END [@if]