//  ------------------------------------------------------------
//  Icon styles
//  ------------------------------------------------------------

@mixin icon-mask {
  display: inline-block;
  background-color: var(--ico);
  content: "";
  width: var(--fs);
  height: var(--fs);
  vertical-align: var(--ico-va);
  mask-image: var(--svg);
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
}

%icon-mask {
  @include icon-mask;
}

@if $enable-icon-styles {

:where(.ico):before {
  @extend %icon-mask;
}

:where(.ico-a):after {
  --ico-ml: calc(var(--fs) / 5);
  @extend %icon-mask;
  margin-inline-start: var(--ico-ml);
}

:where(.ico-b):before {
  --ico-mr: calc(var(--fs) / 3.75);
  @extend %icon-mask;
  margin-inline-end: var(--ico-mr);
}

:where(.ico-block):before {
  --ico-mb: .25rem;
  @extend %icon-mask;
  display: block;
  margin-inline: auto;
  margin-block-end: var(--ico-mb);
}

:where(.ico-btn):before {
  @extend %icon-mask;
}

:where(.ico-btn) {
  --btn-pb: .25rem;
  --btn-pi: .5rem;
}

} // END [if/icon-styles]