//  ------------------------------------------------------------
//  Page
//  ------------------------------------------------------------

@if $enable-site-page {

body {
  max-inline-size: 48rem;
  margin-inline: auto;
  padding: 1rem;
}

// Breakpoints

@media (max-width: #{$breakpoint-lg}) {

}

@media (max-width: #{$breakpoint-md}) {

}

@media (max-width: #{$breakpoint-sm}) {

}

@media (max-width: #{$breakpoint-xs}) {

}

} // END [@if]