<div class="grid g-1-sm g-4 gap-1 pad-child txt-c mb-xs" style="--pb-c:1rem;">
<div class="surf-1">.surf-1</div>
<div class="surf-2">.surf-2</div>
<div class="surf-3">.surf-3</div>
<div class="surf-4">.surf-4</div>
</div>
<div class="grid g-1-sm g-4 gap-1 pad-child txt-c mb-xs" style="--pb-c:1rem;">
<div class="surf-1-light">.surf-1-light</div>
<div class="surf-2-light">.surf-2-light</div>
<div class="surf-3-light">.surf-3-light</div>
<div class="surf-4-light">.surf-4-light</div>
<div class="surf-1-dark">.surf-1-dark</div>
<div class="surf-2-dark">.surf-2-dark</div>
<div class="surf-3-dark">.surf-3-dark</div>
<div class="surf-4-dark">.surf-4-dark</div>
</div>
<div class="grid g-1-sm g-5 gap-1 pad-child mb txt-c" style="--pb-c:1rem;">
<div class="bg-blue">.bg-blue</div>
<div class="bg-red">.bg-red</div>
<div class="bg-green">.bg-green</div>
<div class="bg-orange">.bg-orange</div>
<div class="bg-cyan">.bg-cyan</div>
</div>