<div class="bd pad mb txt-c">.bd</div>
<div class="grid g-3 gap-3 pad-child mb txt-c" style="--pb-c:1rem;">
<div class="bd-t">.bd-t</div>
<div class="bd-b">.bd-b</div>
<div class="bd-block">.bd-block</div>
</div>
<div class="grid g-3 gap-3 pad-child mb txt-c" style="--pb-c:1rem;">
<div class="bd-l">.bd-l</div>
<div class="bd-r">.bd-r</div>
<div class="bd-inline">.bd-inline</div>
</div>
<div class="grid g-1-sm g-5 gap-3 pad-child mb txt-c" style="--pb-c:1rem;">
<div class="bd bd-blue">.bd .bd-blue</div>
<div class="bd bd-red">.bd .bd-red</div>
<div class="bd bd-green">.bd .bd-green</div>
<div class="bd bd-orange">.bd .bd-orange</div>
<div class="bd bd-cyan">.bd .bd-cyan</div>
</div>
<div class="grid g-1-sm g-4 gap-3 pad-child mb txt-c" style="--pb-c:1rem;">
<div class="bd radius-xs">.bd .radius-xs</div>
<div class="bd radius-sm">.bd .radius-sm</div>
<div class="bd radius-md">.bd .radius-md</div>
<div class="bd radius-lg">.bd .radius-lg</div>
</div>
