<div class="flex wrap gap-1 mb-xs">
<button>Button</button>
<input type="button" value="Type">
<input type="reset" value="Reset">
<input type="submit" value="Submit">
<a href="#" role="button">Role</a>
<a href="#" class="btn">.btn</a>
</div>

<div class="flex wrap gap-1 mb-xs">
<button class="btn-blue">.btn-blue</button>
<button class="btn-red">.btn-red</button>
<button class="btn-green">.btn-green</button>
<button class="btn-orange">.btn-orange</button>
<button class="btn-cyan">.btn-cyan</button>
<button class="btn-dark">.btn-dark</button>
<button class="btn-light">.btn-light</button>
</div>

<div class="mb">
<button class="btn-xs">.btn-xs</button>
<button class="btn-sm">.btn-sm</button>
<button>Regular</button>
<button class="btn-lg">.btn-lg</button>
<button class="btn-xl">.btn-xl</button>
</div>