
<div class="grid g-1-sm g-2 gap-3 mb">
<div class="card">
<h2 class="card-title">Default</h2>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-blue">
<h2 class="card-title">Blue</h2>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>
  
<div class="card card-red">
<h3 class="card-title">Red</h3>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-green">
<h3 class="card-title">Green</h3>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-orange">
<h4 class="card-title">Orange</h4>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-cyan">
<h5 class="card-title">Cyan</h5>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-dark">
<p class="card-title">Dark</p>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>

<div class="card card-light">
<p class="card-title">Light</p>
<div class="card-body">
<p>The quick brown fox jumps over the lazy dog to leverage agile networks for high level overviews.</p>
</div>
</div>
</div>
