<div class="grid g-2-sm g-8 gap-1 mb">

<button data-dialog="#dialog" aria-controls="dialog">Default</button>
<dialog id="dialog">
<header>
<h6>Dialog header</h6>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog2" aria-controls="dialog2">Blue</button>
<dialog class="dialog-blue" id="dialog2">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog3" aria-controls="dialog3">Red</button>
<dialog class="dialog-red" id="dialog3">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog4" aria-controls="dialog4">Green</button>
<dialog class="dialog-green" id="dialog4">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog5" aria-controls="dialog5">Orange</button>
<dialog class="dialog-orange" id="dialog5">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog6" aria-controls="dialog6">Cyan</button>
<dialog class="dialog-cyan" id="dialog6">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog7" aria-controls="dialog7">Dark</button>
<dialog class="dialog-dark" id="dialog7">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

<button data-dialog="#dialog8" aria-controls="dialog8">Light</button>
<dialog class="dialog-light" id="dialog8">
<header>
<p>Dialog header</p>
<button class="ico" data-close><span class="vis-hidden">Close</span></button>
</header>
<div class="dialog-body">
<p>The quick brown fox jumps over the lazy dog followed by five boxing wizards jumping quickly like the fox.</p>
</div>
<div class="backdrop" data-close></div>
</dialog>

</div>