<form action="#" class="grid g-1-sm g-2 gap-2" style="--mb: .5rem;">
<fieldset class="grid g-1 gap-1">
<legend>Fieldset legend</legend>
<div>
<label for="text-input" class="vis-hidden">Text:</label>
<input type="text" name="text-input" id="text-input" placeholder="Text">
</div>
<div>
<label for="email-input" class="vis-hidden">Email:</label>
<input type="email" name="email-input" id="email-input" placeholder="Email">
</div>
<div>
<label for="url-input" class="vis-hidden">URL:</label>
<input type="url" name="url-input" id="url-input" placeholder="URL">
</div>
<div>
<label for="text-area" class="vis-hidden">Text area</label>
<textarea name="text-area" id="text-area" placeholder="Text area"></textarea>
</div>
<div>
<label for="search" class="vis-hidden">Search</label>
<input type="search" name="search" id="search" placeholder="Search">
</div>
<div>
<label for="telephone" class="vis-hidden">Telephone</label>
<input type="tel" name="telephone" id="telephone" placeholder="Telephone">
</div>
<div>
<label for="numbers" class="vis-hidden">Numbers</label>
<input type="number" name="numbers" id="numbers" placeholder="Numbers">
</div>
<div>
<label for="password" class="vis-hidden">Password</label>
<input type="password" name="password" id="password" placeholder="Password">
</div>
<div>
<label for="select-list" class="vis-hidden">Select list</label>
<select name="select-list" id="select-list">
<option value="">Select list</option>
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
<option value="4">Option 4</option>
<option value="5">Option 5</option>
</select>
</div>
<div>
<label for="option-group" class="vis-hidden">Option group</label>
<select id="option-group">
<optgroup label="Group one">
<option>Option 1</option>
<option>Option 2</option>
<option>Option 3</option>
</optgroup>
<optgroup label="Group two">
<option>Option 1</option>
<option>Option 2</option>
<option>Option 3</option>
</optgroup>
</select>
</div>
<div>
<label for="dataList1" class="vis-hidden">Datalist</label>
<input list="datalistOption" name="datalist1" id="dataList1" placeholder="Datalist">
<datalist id="datalistOption">
<option value="A Option">
<option value="B Option">
<option value="C Option">
</datalist>
</div>
</fieldset>
<fieldset class="grid g-1 gap-1">
<legend>Fieldset legend</legend>
<div>
<input type="radio" name="radio1" id="radio1" value="1">
<label for="radio1">Radio default</label><br>
<input type="radio" name="radio2" id="radio2" value="2" checked> 
<label for="radio2">Radio checked</label><br>
<input type="radio" name="radio3" id="radio3" value="3" disabled> 
<label for="radio3">Radio disabled</label><br>
<input type="checkbox" name="checkbox1" id="checkbox1" value="1">
<label for="checkbox1">Checkbox default</label><br>
<input type="checkbox" name="checkbox2" id="checkbox2" value="2" checked>
<label for="checkbox2">Checkbox checked</label><br>
<input type="checkbox" name="checkbox3" id="checkbox3" value="3" disabled>
<label for="checkbox3">Checkbox disabled</label>
</div>
<div>
<label for="time" class="vis-hidden">Time</label>
<input type="time" name="time" id="time">
</div>
<div>
<label for="week" class="vis-hidden">Week</label>
<input type="week" name="week" id="week">
</div>
<div>
<label for="month" class="vis-hidden">Month</label> 
<input type="month" name="month" id="month">
</div>
<div>
<label for="date" class="vis-hidden">Date</label>             
<input type="date" name="date" id="date">
</div>
<div> 
<label for="datetime-local" class="vis-hidden">Date and time local</label>   
<input type="datetime-local" name="datetime-local" id="datetime-local"> 
</div>
<div>
<label for="color" class="vis-hidden">Color select</label>
<input type="color" name="color" id="color">
</div>
<div>
<label for="range" class="vis-hidden">Range</label>
<input type="range" name="range" id="range">
</div>
</fieldset>
</form>