<div class="grid g-10 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
<div class="surf-1">6</div>
<div class="surf-1">7</div>
<div class="surf-1">8</div>
<div class="surf-1">9</div>
<div class="surf-1">10</div>
</div>

<div class="grid g-9 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
<div class="surf-1">6</div>
<div class="surf-1">7</div>
<div class="surf-1">8</div>
<div class="surf-1">9</div>
</div>

<div class="grid g-8 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
<div class="surf-1">6</div>
<div class="surf-1">7</div>
<div class="surf-1">8</div>
</div>

<div class="grid g-7 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
<div class="surf-1">6</div>
<div class="surf-1">7</div>
</div>

<div class="grid g-6 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
<div class="surf-1">6</div>
</div>

<div class="grid g-5 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
<div class="surf-1">5</div>
</div>

<div class="grid g-4 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
<div class="surf-1">4</div>
</div>

<div class="grid g-3 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
<div class="surf-1">3</div>
</div>

<div class="grid g-2 gap-1 pad-child txt-c mb-xs" style="--pb: 1rem;">
<div class="surf-1">1</div>
<div class="surf-1">2</div>
</div>

<div class="grid g-1 gap-1 pad-child txt-c mb" style="--pb: 1rem;">
<div class="surf-1">1</div>
</div>

<h2>Image grid</h2>

<p>For creating an image grid the <code>.gallery</code> wrapper adds the object-fit and aspect-ratio for photos that vary in size and orientation, by default they use 16 / 9 defined by the variable <code>[--aspect-ratio: 16 / 9]</code>.</p>


<div class="gallery g-2-sm g-4 gap-2">
<img src="/assets/photos/bird-on-branch.jpg" alt="Bird on branch">
<img src="/assets/photos/hazy-mountains.jpg" alt="Hazy mountains">
<img src="/assets/photos/red-fox.jpg" alt="Red fox">
<img src="/assets/photos/rocky-stream.jpg" alt="Rocky stream">
</div>

<p>The variable allows adjusting the ratio inline on the wrapper element, e.g. <code>[style="--aspect-ratio: 3 / 4"]</code>.</p>

<div class="gallery g-2-sm g-4 gap-2" style="--aspect-ratio: 3 / 4">
<img src="/assets/photos/bird-on-branch.jpg" alt="Bird on branch">
<img src="/assets/photos/hazy-mountains.jpg" alt="Hazy mountains">
<img src="/assets/photos/red-fox.jpg" alt="Red fox">
<img src="/assets/photos/rocky-stream.jpg" alt="Rocky stream">
</div>