<ul class="nolist grid g-2-xs g-3-sm g-4 gap-1 pad-child txt-c bd-child" style="--fs:1.5rem;--pb-c:.75rem;">
<li class="ico-block house">.house</li>
<li class="ico-block email">.email</li>
<li class="ico-block plus">.plus</li>
<li class="ico-block minus">.minus</li>
<li class="ico-block bars">.bars</li>
<li class="ico-block arrowup">.arrowup</li>
<li class="ico-block arrowdown">.arrowdown</li>
<li class="ico-block arrowleft">.arrowleft</li>
<li class="ico-block arrowright">.arrowright</li>
<li class="ico-block sun">.sun</li>
<li class="ico-block moon">.moon</li>
<li class="ico-block close">.close</li>
</ul>
